name: Update upstream provider
env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NUGET_PUBLISH_KEY: ${{ secrets.NUGET_PUBLISH_KEY }}
  PROVIDER: cloudflare
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  PULUMI_API: https://api.pulumi-staging.io
  PULUMI_GO_DEP_ROOT: ${{ github.workspace }}/..
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  PULUMI_PROVIDER_MAP_ERROR: true
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  UPSTREAM_PROVIDER_REPO: "cloudflare/terraform-provider-cloudflare"
jobs:
  update_provider:
    name: Update provider
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        dotnetversion:
          - 3.1.301
        goversion:
          - 1.16.x
        nodeversion:
          - 14.x
        pythonversion:
          - "3.7"
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        ref: "master"
    - name: Unshallow clone for tags
      run: git fetch --prune --unshallow --tags
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{matrix.goversion}}
    - name: Install pulumictl
      uses: jaxxstorm/action-install-gh-release@v1.2.0
      with:
        repo: pulumi/pulumictl
    - name: Install Pulumi CLI
      uses: pulumi/action-install-pulumi-cli@v2
    - name: Setup DotNet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{matrix.dotnetversion}}
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{matrix.nodeversion}}
        registry-url: https://registry.npmjs.org
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{matrix.pythonversion}}
    - name: Get upstream provider sha
      run: |
        echo "UPSTREAM_PROVIDER_SHA=$(curl https://api.github.com/repos/${{ env.UPSTREAM_PROVIDER_REPO }}/git/ref/tags/v${{ github.event.inputs.version }} | jq .object.sha -r)" >> $GITHUB_ENV
    - name: Update go.mod
      run: cd provider && go mod edit -require github.com/${{ env.UPSTREAM_PROVIDER_REPO }}@${{ env.UPSTREAM_PROVIDER_SHA }} && go mod tidy && cd ../
    - run: make tfgen
    - run: make build_sdks
    - name: Commit changes
      uses: EndBug/add-and-commit@v7
      with:
        author_email: bot@pulumi.com
        author_name: pulumi-bot
        branch: pulumi-bot/v${{ github.event.inputs.version }}-${{ github.run_id}}
        branch_mode: create
        message: Update terraform-provider-cloudflare to v${{ github.event.inputs.version }}
    - name: Create pull request (no linked issue)
      env:
        GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
      uses: repo-sync/pull-request@v2
      if: ${{ !github.event.inputs.linked_issue_number }}
      with:
        destination_branch: master
        github_token: ${{ secrets.PULUMI_BOT_TOKEN }}
        pr_allow_empty: "true"
        pr_body: This pull request was automatically generated by the update-upstream-provider workflow in this repository.
        pr_reviewer: jkodroff
        pr_title: Update terraform-provider-cloudflare to v${{ github.event.inputs.version }}
        source_branch: pulumi-bot/v${{ github.event.inputs.version }}-${{ github.run_id}}
        pr_label: impact/no-changelog-required
    - name: Create pull request (linked issue)
      env:
        GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
      uses: repo-sync/pull-request@v2
      if: ${{ github.event.inputs.linked_issue_number }}
      with:
        destination_branch: master
        github_token: ${{ secrets.PULUMI_BOT_TOKEN }}
        pr_allow_empty: "true"
        pr_body: |
          Fixes #${{ github.event.inputs.linked_issue_number }}
          
          This pull request was automatically generated by the update-upstream-provider workflow in this repository.
        pr_reviewer: jkodroff
        pr_title: Update terraform-provider-cloudflare to v${{ github.event.inputs.version }}
        source_branch: pulumi-bot/v${{ github.event.inputs.version }}-${{ github.run_id}}
        pr_label: impact/no-changelog-required
"on":
  workflow_dispatch:
    inputs:
      version:
        description: "The new version of the upstream provider. Do not include the 'v' prefix."
        type: string
        required: true
      linked_issue_number:
        description: "The issue number of a PR in this repository to which the generated pull request should be linked."
        type: string
        required: false
